@use "vars" as *;
@use "tint";

@mixin outmost() {
    border: $outmost-border-width solid #{$blurple};
    margin: $outmost-spacing;
    margin-top: 10px;
    border-radius: $outmost-spacing;
    box-shadow: 0 0 30px 0 $gold inset, 0 0 20px 0 $darkblue;
    background: transparentize($darkblue, 0.7);
}

@mixin box($radius, $border-color, $border-size, $shadow-color, $shadow-size) {
    border: $border-size solid $border-color;
    border-radius: $radius;
    box-shadow: 0 0 $shadow-size 0 $shadow-color !important;
}

@mixin medium($border-color, $shadow-color, $shadow-size) {
    @include box($sidebar-spacing, $border-color, $sidebar-border-width, $shadow-color, $shadow-size);
}

@mixin small($border-color, $shadow-color, $shadow-size) {
    @include box($item-spacing, $border-color, 2px, $shadow-color, 10px);

    &::after {
        width: 100%;
        height: 100%;
        top: 0;
        @include tint.scanline-overlay();
    }
}

@mixin orange() {
    @include medium($gold, $gold, 10px);
}

@mixin blue() {
    @include medium($blue, $darkblue, 20px);
}

@mixin orange-small() {
    @include small($gold, $gold, 10px);
    background: transparentize($darkblue, 0.8);
}

@mixin blue-small() {
    @include small($blue, $darkblue, 10px);
    background: transparentize($darkpurple, 0.3);
}