// ---- Colour palette ----
// DO NOT USE ANYWHERE BUT _DEFAULT-CSS

$pink: 206 63 251;
$gold: 255 165 0;
$blue: 84 63 251;
$blurple: 88 101 242;
$purple: 20 6 36;
$darkblue: 0 0 128;

$white: 255 255 255;
$black: 0 0 0;

$red: 243 67 131;
$yellow: $gold;
$green: 52 172 140;
$twitch: 89 54 149;
