$outmost-spacing: 30px;
$outmost-border-width: 10px;
$sidebar-spacing: 20px;
$sidebar-border-width: 5px;
$item-spacing: 10px;
$sidebar-width: 72px; // Set by Discord
$channels-width: 240px; // Set by Discord
$title-height: 48px; // Set by Discord

$white: rgb(255, 255, 255);
$pink: rgb(206, 63, 251);
$rose: #f34383;
$green: #34ac8c;
$gold: rgb(255, 165, 0);
$blue: rgb(84, 63, 251);
$blurple: rgb(88, 101, 242);
$darkpurple: rgb(20, 6, 36);
$darkblue: rgb(0, 0, 128);
$streamer-color: hsl(262, 46.8%, 39.8%);
$toggle-off: $blue;
$toggle-on: $gold;