// ---- Size ----

$size-max:      9999px;
$size-l:        30px;
$size-m:        20px;
$size-s:        10px;
$size-xs:       5px;

$outmost-spacing:       $size-l;
$outmost-border-width:  $size-s;
$sidebar-spacing:       $size-m;
$sidebar-border-width:  $size-xs;
$item-spacing:          $size-s;

// ---- Misc ----

$status-transparency: 0.5;

$sidebar-width:     72px;   // Set by Discord
$channels-width:    240px;  // Set by Discord
$title-height:      48px;   // Set by Discord

// ---- CSS vars to SCSS vars ----

// Must NOT be wrapped in rgb() or transparentize() to work
$background-image:  var(--synth-background-image);          // url(https://i.imgur.com/0jX0Y0g.png);
$backdrop-opacity:  var(--synth-backdrop-opacity);          // 0.5;
$overlay-color:     rgb(var(--synth-overlay-color) / 0.1);  // $gold
$scanline-light:    rgb(var(--synth-crt-light) / 0.05);     // $white
$scanline-dark:     rgb(var(--synth-crt-dark) / 0.1);       // $black
$flicker:           var(--synth-crt-flicker);               // none;

// Must be wrapped in rgb() or transparentize() to work
$color-background:  var(--synth-color-background);  // $purple
$color-foreground:  var(--synth-color-foreground);  // $gold
$color-shadow:      var(--synth-color-shadow);      // $darkblue
$color-button:      var(--synth-color-button);      // $blue
$color-pop:         var(--synth-color-pop);         // $pink
$color-blurple:     var(--synth-color-blurple);     // $blurple
$color-text:        var(--synth-color-text);        // $white

$color-red:         var(--synth-color-red);         // $red
$color-yellow:      var(--synth-color-yellow);      // $yellow
$color-green:       var(--synth-color-green);       // $green
$color-twitch:      var(--synth-color-twitch);      // $twitch

$color-toggle-off:  var(--synth-color-button);      // $blue
$color-toggle-on:   var(--synth-color-foreground);  // $gold

@function transparentize($color, $amount) {
    @return rgb($color / (1 - $amount));
}
