// App directory
.layerContainer-2v_Sit .directoryModal-YJsOMv {
    background: transparent;

    // Scanline and tint overlay over whole view
    &::after {
        @include scanline-overlay();
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--synth-overlay-color, rgba(255, 165, 0, 0.1));
        top: 0;
        left: 0;
    }

    .category-qFAw-K,
    .clickable-WBCFI5,
    .search-2RHhW6,
    .container-2NdZr9,
    .card-2xymMp,
    .commandName-SDgdgz,
    .splashImage-1iRUgw,
    .headerBanner-ZCUdfQ {
        border-radius: $item-spacing;
    }
}