// Custom CSS editor
// Floating version
#floating-editor-window {
    @include blue-box();
    background: $blue;
    z-index: 1010;

    .floating-window-titlebar {
        background: inherit;
    }
    .close-button:hover {
        background: $rose;
    }
}
// All versions
#bd-editor-panel {
    $inner-radius: calc($sidebar-spacing - $sidebar-border-width);
    .contentRegion-3HkfJJ & {
        @include blue-box();
    }

    #bd-editor-controls {
        background: $blue;
        border-radius: $inner-radius $inner-radius 0 0;

        button {
            border-radius: $item-spacing;
        }
    }
    #bd-customcss-editor {
        border-radius: 0 0 $inner-radius $inner-radius;
        overflow: hidden;
    }
}

// BD toasts
.bd-toasts {
    align-items: flex-end;
    right: 0;
}
    .bd-toast {
        margin-right: 24px;
        background-color: transparentize($blue, $amount: 0.3);
        border-radius: 30px;
    }
    .bd-toast.toast-success {
        background-color: transparentize($blurple, $amount: 0.2);
    }

// BD toggles
.bd-switch {
    .bd-switch-body {
        --switch-color: #{transparentize($toggle-off, 0.2)};
        .bd-switch-symbol path {
            fill: $toggle-off;
        }
    }
    input:checked+.bd-switch-body {
        --switch-color: #{transparentize($toggle-on, 0.3)};
        .bd-switch-symbol path {
            fill: $toggle-on;
        }
    }
}