// Channels sidebar and main chat
.base-2jDfDU {
    // Notice banners
    .notice-2HEN-u {
        $notice-spacing: 20px;
        $notice-border-width: 5px;

        position: absolute;
        right: $notice-spacing;
        width: calc(100% - $channels-width - 36px - (2 * ($notice-spacing + $notice-border-width)));
        // border-radius: 0 0 $notice-spacing $notice-spacing;
        top: $title-height;
        border-radius: $notice-spacing;

        &.colorStreamerMode-8uoRWd {
            background-color: transparentize($streamer-color, 0.4);
            border: $notice-border-width solid lighten($streamer-color,20);
            box-shadow: 0 0 10px 0 darken($streamer-color,20);
        }
    }

    // Channels sidebar
    .sidebar-1tnWFu {
        margin: $sidebar-spacing 0;

        // Header
        .header-3OsQeK {
            box-shadow: none;
        }
        .clickable-vvKY2q .header-3OsQeK:hover,
        .selected-1GtAC5 .header-3OsQeK {
            background-color: transparent;
        }

        // New messages pill
        .unread-36eUEm {
            @include unread-pill(6px);
            top: calc(50% - 3px);
        }

        // Channel
        .content-1gYQeQ,
        .layout-1qmrhw,
        .content-1Tgc42 {
            border-radius: $item-spacing;
        }

        // Self button
        .withTagAsButton-OsgQ9L,
        .withTagless-10ooWt {
            border-radius: 30px;
            margin-bottom: 4px;
            margin-right: 4px;
        }
    }

    // Top bar
    .title-31SJ6t {
        // Search
        .search-2Mwzzq .DraftEditor-root .DraftEditor-editorContainer {
            height: 24px;

            .searchFilter-2UfsDk,
            .searchAnswer-23w-CH
            {
                padding: 0 6px;
                border: 2px solid $gold;
                background: var(--background-modifier-selected);
                height: 22px;
                line-height: 18px;
            }
            .searchFilter-2UfsDk {
                border-radius: 10px 0 0 10px;
            }
            .searchAnswer-23w-CH {
                padding-left: 0;
                border-radius: 0 10px 10px 0;
            }
        }
    }
    // Top bar shadow
    .content-1jQy2l:before,
    .chat-1-OBC7:before {
        display: none;
    }

    // Main chat
    .chatContent-3KubbW {

        .messagesWrapper-RpOMA3 {
            margin-bottom: 4px;

            // New messages bar
            .newMessagesBar-1hF-9G {
                min-height: 30px;
                top: -8px;
                background: linear-gradient(transparent, transparentize($blurple, 0.4) 40%, transparentize($blurple, 0.2));
            }
            // Jump to present bar
            .jumpToPresentBar-1cEnH0 {
                background: linear-gradient(transparentize($blue, 0.2), transparentize($blue, 0.4) 60%, transparent);
            }

            // Chat message
            .messageListItem-ZZ7v6g {
                margin-left: 17px;

                // Options bar
                .wrapper-2vIMkT {
                    @include orange-box-small();
                    height: 34px;

                    &::before {
                        height: 100%;
                        width: 100%;
                        @include scanline-overlay();
                    }
                }

                // @ Mention
                .wrapper-1ZcZW- {
                    background: transparentize($blurple, 0.7);
                    color: lighten($blurple, 30);
                    &:hover {
                        background: transparentize($blurple, 0.3);
                        color: $white;
                    }
                }

                // Reaction
                .reaction-3vwAF2 {
                    border-radius: $item-spacing;
                    &:hover {
                        border-color: $gold;
                    }
                    &.reactionMe-1PwQAc {
                        background-color: transparentize($gold, 0.7);
                        &:not(:hover) {
                            border-color: transparent;
                        }
                        .reactionCount-26U4As {
                            color: $gold;
                        }
                        &:hover .reactionCount-26U4As {
                            color: var(--interactive-hover);
                        }
                    }
                }

                @import "_embed";

                // Thread
                .container-3i3IzO {
                    border-radius: $item-spacing;
                    background-color: transparentize($gold, 0.7);
                }
            }

            // Chat dividers
            $divider-color: $gold;
            .divider-2rZFJK {
                --divider-color: #{$divider-color};
                border-top: none;
                background-color: $divider-color;
                height: 2px;
                border-radius: 5px;
                box-shadow: 0 0 3px 1px darken($divider-color, 20);
                justify-content: center;

                // New message divider pill
                .unreadPill-3nEWYM {
                    border-radius: $item-spacing;
                    color: darken($divider-color, 30);
                    padding: 2px 10px;
                    right: auto;
                    top: -5px;
                    text-transform: capitalize;
                    box-shadow: 0 0 5px 1px darken($divider-color, 20);

                    .unreadPillCap-2-iI4h {
                        display: none;
                    }
                }

                // Date change divider
                .content-3spvdd {
                    background: $divider-color;
                    color: darken($divider-color, 30);
                    padding: 2px 10px;
                    font-size: 10px;
                    line-height: 9px;
                    font-weight: 700;
                    box-shadow: 0 0 5px 1px darken($divider-color, 20);
                }
            }
            .group-spacing-16 .divider-IqmEqJ {
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }

        // Chat text area
        .scrollableContainer-15eg7h {
            @include orange-box();

            &::before {
                height: calc(100% - (2 * $sidebar-border-width));
                width: calc(100% - (2 * $sidebar-border-width));
                @include scanline-overlay();
                border-radius: inherit;
            }

            // Attachments
            .channelAttachmentArea-HwpkuQ {
                // Options bar
                .wrapper-2vIMkT {
                    @include orange-box-small();
                    height: 34px;
                }
                // Spoiler
                .spoilerContainer-3wsC0k {
                    border-radius: $sidebar-spacing;
                    .image-1091CL {
                        border-radius: $sidebar-spacing;
                    }
                }
            }

        }
        // Chat slowmode info
        .cooldownWrapper-2k1jHK {
            color: transparentize($white, 0.5)!important;
        }
        // Chat autocomplete suggestions
        .autocomplete-3NRXG8 {
            @include orange-box();
            background-color: $darkpurple;

            &::before {
                @include scanline-overlay();
                height: 100%;
                width: 100%;
            }

            // Group
            .categoryHeader-OpJ1Ly {
                background-color: $darkpurple;
            }

            // Option
            .base-2v-uc0 {
                border-radius: $item-spacing;
            }
        }
        // Sticker suggestions
        .stickerIconOffset-2zxofV {
            @include orange-box-small();
        }
    }

    // Video call
    .callContainer-HtHELf {
        background: transparent;
        .gradientContainer-phMG8d {
            background-image: none;
        }
    }

    // Forum
    .container-3wLKDe {
        background-color: transparent;
    }

    // Browse channels
    .container-2IKOsH,
    .container-1um7CU,
    .header-3xB4vB {
        background-color: transparent;
    }

    // Discover servers
    .categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
        background-color: var(--background-modifier-selected);
    }
    .pageWrapper-2PwDoS {
        background-color: transparent;
        // Search
        .searchBox-pyIJJj {
            border-radius: $item-spacing;
            background-color: transparent;
            box-shadow: none;
        }
        .select-1Ia3hD {
            border-radius: $item-spacing;
        }
    }

    // Server home
    .background-fkKrXt,
    .headerBarInner-2pcZSM:after {
        background: transparent;
    }

    // Thread floater (narrow screens)
    .chatTarget-3H6mpC {
        background: transparentize($darkpurple, $amount: 0.2);
    }
    .floating-3M3WeH {
        margin: $sidebar-spacing;
        @include blue-box();
    }

    // Members sidebar
    .container-2o3qEW {
        position: relative;
        margin: 0 $sidebar-spacing $sidebar-spacing 0;
        height: auto;
        @include orange-box();

        // MemberCount plugin
        #MemberCount {
            border-bottom: none;
        }

        // Member
        .layout-1qmrhw {
            border-radius: $item-spacing;
        }

        &::before {
            width: 100%;
            height: 100%;
            border-radius: calc($sidebar-spacing - $sidebar-border-width);
            @include scanline-overlay();
        }
    }
}