// Popovers
.container-18GwIk, // Threads
.recentMentionsPopout-2bI1ZN, // Inbox
.messagesPopoutWrap-3zryHW, // Pinned messages
.menu-1QACrS, // Account menu
.container-2McqkF.elevationBorderHigh-3drnJX, // Search options
.userPopoutOuter-3AVBmJ, // User profile
.contentWrapper-3vHNP2, // Emoji picker
.didRender-2dwLEv>#emoji-picker-tab-panel, // Emoji picker add reaction
.container-2O1UgZ, // User management add role selector
.container-3ssFyj, // View as role role selector
.popoutContainer-2wbmiM // Emoji and role icon info
{
    @include blue-box();
    overflow: hidden;
    max-height: calc(100vh - 64px - $outmost-spacing)!important;
}

// Create group chat select friends
// Search entry
.tag-15zcD_ {
    border-radius: 16px;
}
// Friend item
.friend-8ZraY7 {
    border-radius: $item-spacing;

    &.friendSelected-3cwmD7 {
        background-color: var(--background-modifier-hover);
    }

    .checkbox-f1HnKB {
        border-radius: 50%;
        border: 2px solid $gold;

        &.checked-1pZh2h {
            border-color: $gold!important;
            path {
                fill: $gold;
            }
        }
    }
}

// Emoji picker
.contentWrapper-3vHNP2,
.didRender-2dwLEv>#emoji-picker-tab-panel
{
    background-color: $blue;

    .emojiPicker-6YCk8a {
        background-color: transparent;
    }

    // Header
    .header-11eigE,
    .header-uVCAlo,
    .header-2TLOnc {
        background-color: $blue;
        box-shadow: none;

        // Search
        .container-1SX9VC,
        .container-2oNtJn {
            background-color: transparentize($darkpurple, 0.2);
            border-radius: 20px;
        }
    }

    // Main picker
    .bodyWrapper-1eSOtW,
    .listWrapper-2DwCYS,
    .content-A8TzKf {
        background-color: $darkpurple;

        // Hovered emoji or sticker
        .emojiItem-277VFM.emojiItemSelected-2Lg50V,
        .stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
            background-color: transparentize($pink, 0.5);
        }

        // Loading emoji
        .imageLoading-2uloYN {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACGElEQVRoge3asU4bMRzH8Q8OB5XoUFjKWAY6tTtVkULfISpDeYs+R9+CDlT3Du1JILHTqQx0JAt0AKlwROrgCwoUSEJQnJPy3RL5ou/PduyT/54xIK1mmeE1XmEZi5jH7KC/cQ9XuMApjvEbv/IiKwd5eKZfg1azXMQ63mDu0ZrDcYmf2M2L7PShhvcGaDXLBjbwDo2ntBuCDvbxPS+yzl0N7gxQ9fpHcapMAsf4dtdo/Beg1SyX8QnPxyA2DGf4mhfZce+XofdD1fNbJk+e6LRVOV5zHaDVLGfFabMwZrFhWMBm5YqbI7Bhcub8Q7wUXVEFqIZlLZHQY1jrTqXuCKxLt1Q+hobobKbVLOfw2fg2qafiEl8CVtVPnui8GrCS2mQEVoL4r64rLwOWUluMwFIQX4nrynxQr+XzNo3Qv81kMw2QmmmA1EwDpGYaIDXTAKmZBkjNNEBqgngCXFc6QSwu1JWLgJPUFiNwEtBObTEC7YCj1BYjcBRwKB7T1Y0ShyEvsm5BrW4c5EV22d0HdtVrOe1gj2ojq4pn+ymNhmQ/L7ITbu7EP9RjRWqLrugJkBfZFXZwPn6ngTnHTuWKW+9C1VTaFkuak8YZtm/Xih8qdG+anKP3ttjz/QvdXaqrBh/E4l+9rhr00mqWS3iPt8ieVO9+Shxgr7va3EffAF16rtusiPXkF3hm9NHp4C/+iHcijgxx3eYfS5qEazM7noMAAAAASUVORK5CYII=");
        }
    }

    // Emoji info
    .inspector-DFKXwB {
        background-color: transparentize($darkpurple, 0.2);
    }

}
// Server/category list
.wrapper-22rqw6 {
    background-color: transparentize($darkpurple, 0.2);
}

// Emoji info
.popoutLoadingForeground-3xnRkg {
    background-image: linear-gradient(
        90deg,
        $darkpurple,
        lighten($darkpurple, 20),
        $darkpurple
    )
}

// Upload file entry
.item-1OdjEX {
    border-radius: $item-spacing;
}

// Threads popover entry
.container-2rzKKA {
    border: 2px solid var(--background-primary);
    border-radius: 50px;
}

// Searchbar in popout
.container-2oNtJn {
    background-color: transparentize($gold, 0.7);
    border-radius: 20px;
}

// Channel switcher protip
.protip-1jXzAl {
    padding-top: 0;
}

// Search options
.container-2McqkF.elevationBorderHigh-3drnJX {

    // Option item
    .option-ayUoaq {
        border-radius: $item-spacing;
        &:hover::after {
            background: var(--search-popout-option-fade-hover);
        }
    }

    // Calendar
    .calendarPicker-sDhzdi {
        .react-datepicker {
            padding: 20px calc(20px - $sidebar-border-width);
            background-color: transparent;

            .react-datepicker__navigation {
                &.react-datepicker__navigation--next,
                &.react-datepicker__navigation--previous {
                    border-color: $white;
                    border-radius: 50%;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='25'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.338 12.485c-4.156 4.156-8.312 8.312-12.468 12.467-1.402-1.402-2.805-2.804-4.207-4.206 2.756-2.757 5.513-5.514 8.27-8.27C6.176 9.72 3.419 6.963.663 4.207L4.87 0c-.058-.059 12.555 12.562 12.468 12.485z' clip-rule='evenodd'/%3E%3C/svg%3E");
                }
            }

            .react-datepicker__header {
                background-color: transparent;
                .react-datepicker__current-month {
                    color: var(--header-primary);
                    border-bottom-color: var(--deprecated-text-input-border-disabled);
                }
                .react-datepicker__day-name {
                    color: var(--text-normal);
                }
            }

            .react-datepicker__week {
                &:last-of-type .react-datepicker__day {
                    border-bottom-color: var(--deprecated-text-input-border-disabled);
                }
                .react-datepicker__day:last-of-type {
                    border-right-color: var(--deprecated-text-input-border-disabled);
                }

                .react-datepicker__day {
                    color: var(--text-normal);
                    &.react-datepicker__day--keyboard-selected,
                    &.react-datepicker__day--selected:hover,
                    &:hover {
                        background-color: var(--background-modifier-hover);
                    }
                    &.react-datepicker__day--selected:after {
                        background-color: $gold;
                    }
                }
                .react-datepicker__day--disabled,
                .react-datepicker__day--disabled:hover,
                .react-datepicker__day--outside-month {
                    color: var(--text-muted);
                    background-color: var(--background-floating);
                }
            }
        }
    }
    .datePickerHint-Ir4715 {
        .hintValue-V9hd8l,
        .hintValue-V9hd8l:hover {
            border: 2px solid $gold;
            background: var(--background-modifier-selected);
            border-radius: 20px;
            padding: 0 8px;
        }
    }
}

// Profile popout
.avatarWrapper-3y0KZ1 {
    left: 27px;
    top: 21px;
    // View profile shadow
    .avatarHint-2g3Mcd {
        border-radius: 50px;
        foreignObject {
            mask: none;
        }
    }
}
// with Nitro theme
.userProfileOuterThemed-3EfHmv.userPopoutOuter-3AVBmJ,
.userProfileOuterThemed-3EfHmv.userProfileOuter-1K_BYU {
    padding: 0;
    overflow: hidden;

    &.theme-light {
        --interactive-active: #{$darkpurple};
        --header-primary: #{$darkpurple};
        --header-secondary: #{$blue};
        --text-normal: #{$darkpurple};
    }

    .userProfileInner-3F03PX {
        max-height: calc(100vh - 64px - $outmost-spacing);
        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: $sidebar-spacing;
        }

        .avatarPositionPremiumBanner-2nq2Fy {
            left: 23px;
            top: 77px;
        }
    }

    // Nitro upsell banner
    .wrapper-400BN2 {
        width: calc(100% - (2 * $sidebar-border-width));
        border-radius: calc($sidebar-spacing - $sidebar-border-width);
    }
}

// Account switcher popover
.avatar-2Vndt_ {
    border: 0;
    margin: 7px;
}

// Pinned messages
.messageGroupWrapper-1jf_7C {
    border-radius: $sidebar-spacing;
}

// Inbox
.jumpButton-1V_1FA {
    border-radius: $item-spacing;
    background-color: transparent;
    .text-2ifC_x {
        color: lighten($blurple, 20);
    }
}

// Dropdown input popout
.popout-1KHNAq {
    @include blue-box-small();

    .selectedIcon-19TbzU {
        color: $green;
    }
}

// Attachment language select popout
.languageSelector-2e1IuO {
    @include blue-box-small();
}

// Popovers that depend on theme-dark/light
.theme-dark,
.theme-light {

    // View message reactions
    .reactionDefault-1Sjj1f {
        border-radius: $item-spacing;
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .reactionSelected-1aMb2K {
        border-radius: $item-spacing;
        background-color: var(--background-modifier-selected);
    }
    .reactors-1VXca7 {
        background-color: transparent;
        .remove-19AQn_ {
            background-color: var(--background-modifier-hover);
            border-radius: 50%;
            opacity: 1;
            color: $gold;
        }
    }

    // Server boost
    .perksModal-CLcR1c {
        background-color: transparent;

        .progressBar-20NUv9 {
            .barBackground-unEPDT {
                background: transparentize($pink, 0.5);
                .barSecondary-VouwoY {
                    background: $pink;
                }
            }

            .tierMarkerBackground-G8FoN4 {
                background: transparentize($pink, 0.7);
            }
            .tierMarkerInProgress-2Tdxjz {
                background: transparentize($pink, 0.5)!important;
            }
            .tierMarkerAccomplished-1SkbEJ {
                background: $pink!important;
                box-shadow: 0 0 3px 1px darken($pink, 20);
            }
            .tierMarkerLabelText-1wk8KK {
                border-radius: 20px;
                padding-left: 8px;
            }
        }

        .tierWrapper-CsnudO {
            border-radius: $sidebar-spacing;
            overflow: hidden;
            .tierHeaderLocked-3ItHYn {
                background: $blue;
                color: $white;
                .tierLock-1uBqZ0 {
                    color: inherit;
                }
            }
            .tierBody-3ju-rc {
                background-color: transparentize($blue, 0.5);
            }
        }
        .perk-19D_HN {
            border-radius: $item-spacing;
            background-color: transparentize($blue, 0.5);
        }
    }

    // Add registered game
    .addGamePopout-2SKNIV {
        @include blue-box-small();
        .divider-_0um2u {
            border-top: none;
        }
    }

    // Create server
    .footerSeparator-VzAYwb {
        box-shadow: none;
    }

    // Server Members role overflow
    .overflowRolesPopout-1Puiuq {
        @include blue-box-small();

        .overflowRolesPopoutHeaderText-3HyHGv {
            color: #{transparentize($white, 0.5)};
        }

        .overflowRolesPopoutArrow-2R7g3K {
            background-color: $blue;
        }
    }

    // Tooltips
    .tooltipPrimary-3qLMbS {
        $tooltip-color: transparentize($pink, 0.2);
        background-color: $tooltip-color;
        border-radius: 20px;
        box-shadow: 0 0 5px 0 darken($color: $tooltip-color, $amount: 5);

        .tooltipPointer-3L49xb {
            border-top-color: $tooltip-color;
        }

        .tooltipContent-Nejnvh {
            .activityIcon-vfIBet,
            .activityIcon-vfIBet {
                color: $white;
            }
        }
    }

    // Focus lock popovers
    .root-g14mjS {
        @include blue-box();
        overflow: hidden;
        background-color: transparentize($darkblue, 0.7)!important;

        // Image upload
        &.uploadModal-2ie9O_ {
            overflow: visible;
            .icon-HW4tZ- {
                border-radius: $sidebar-spacing;
            }
            .footer-VCsJQY {
                background-color: $blue;
                box-shadow: none;
            }
        }

        // Image viewer
        .wrapper-2bCXfR>.downloadLink-1OAglv {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            opacity: 0;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
        // with ImageUtilities plugin
        .operations-3V47CY {
            position: fixed;
        }
        .sibling-6vI7Pu .imageWrapper-oMkQl4 {
            @include blue-box();
        }

        // Nitro discount
        .planOptionDiscount-2nex9n {
            background-color: $green;
        }

        // Delete message confirmation
        .message-G6O-Wv {
            background-color: transparent;
            box-shadow: none;
        }

        // Full user profile
        .top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
        .top-K_jibn .themed-2-lozF.item-3XjbnG:active,
        .top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
            border-bottom-color: $gold;
        }
        .profileBanner-2zIsK7 {
            opacity: 70%;
        }
        .listRow-2nO1T6 {
            border-radius: $item-spacing;
        }

        //BD addon errors
        .bd-addon-error {
            border-radius: 50px;
            background: transparent;
            border: 2px solid var(--modal-background);
        }
        .bd-addon-error:hover {
            border-color: $pink;
        }

        // Server switcher
        .input-3r5zZY {
            border-radius: $sidebar-spacing;
        }
        .result-u66Ywh {
            border-radius: $item-spacing;
            .wrapper-2olG5t {
                border-radius: 10px;
            }
        }
    }
}