@use "../../top/vars" as *;

// Emoji picker
.contentWrapper-3vHNP2,
.didRender-2dwLEv > #emoji-picker-tab-panel {
    background-color: $blue;

    .emojiPicker-6YCk8a {
        background-color: transparent;
    }

    // Header
    .header-11eigE,
    .header-uVCAlo,
    .header-2TLOnc {
        background-color: $blue;
        box-shadow: none;

        // Search
        .container-1SX9VC,
        .container-2oNtJn {
            background-color: transparentize($darkpurple, 0.2);
            border-radius: 20px;
        }
    }

    // Main picker
    .bodyWrapper-1eSOtW,
    .listWrapper-2DwCYS,
    .content-A8TzKf {
        background-color: $darkpurple;

        // Hovered emoji or sticker
        .emojiItem-277VFM.emojiItemSelected-2Lg50V,
        .stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
            background-color: transparentize($pink, 0.5);
        }

        // Loading emoji
        .imageLoading-2uloYN {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACGElEQVRoge3asU4bMRzH8Q8OB5XoUFjKWAY6tTtVkULfISpDeYs+R9+CDlT3Du1JILHTqQx0JAt0AKlwROrgCwoUSEJQnJPy3RL5ou/PduyT/54xIK1mmeE1XmEZi5jH7KC/cQ9XuMApjvEbv/IiKwd5eKZfg1azXMQ63mDu0ZrDcYmf2M2L7PShhvcGaDXLBjbwDo2ntBuCDvbxPS+yzl0N7gxQ9fpHcapMAsf4dtdo/Beg1SyX8QnPxyA2DGf4mhfZce+XofdD1fNbJk+e6LRVOV5zHaDVLGfFabMwZrFhWMBm5YqbI7Bhcub8Q7wUXVEFqIZlLZHQY1jrTqXuCKxLt1Q+hobobKbVLOfw2fg2qafiEl8CVtVPnui8GrCS2mQEVoL4r64rLwOWUluMwFIQX4nrynxQr+XzNo3Qv81kMw2QmmmA1EwDpGYaIDXTAKmZBkjNNEBqgngCXFc6QSwu1JWLgJPUFiNwEtBObTEC7YCj1BYjcBRwKB7T1Y0ShyEvsm5BrW4c5EV22d0HdtVrOe1gj2ojq4pn+ymNhmQ/L7ITbu7EP9RjRWqLrugJkBfZFXZwPn6ngTnHTuWKW+9C1VTaFkuak8YZtm/Xih8qdG+anKP3ttjz/QvdXaqrBh/E4l+9rhr00mqWS3iPt8ieVO9+Shxgr7va3EffAF16rtusiPXkF3hm9NHp4C/+iHcijgxx3eYfS5qEazM7noMAAAAASUVORK5CYII=");
        }
    }

    // Emoji info
    .inspector-DFKXwB {
        background-color: transparentize($darkpurple, 0.2);
    }
}

// Server/category list
.wrapper-22rqw6 {
    background-color: transparentize($darkpurple, 0.2);
}

// Emoji info
.popoutLoadingForeground-3xnRkg {
    background-image: linear-gradient(90deg, $darkpurple, lighten($darkpurple, 20), $darkpurple);
}
