@use "../../top/vars" as *;

// Create group chat select friends
// Search entry
.tag__69d9d {
    border-radius: 16px;
}

// Friend item
.friend__05c43 {
    border-radius: $item-spacing;

    &.friendSelected__98d91 {
        background-color: var(--background-modifier-hover);
    }

    .checkbox_fcf2ad {
        border-radius: 50%;
        border: 2px solid rgb($color-foreground);

        &.checked__16f88 {
            border-color: $color-foreground !important;

            path {
                fill: rgb($color-foreground);
            }
        }
    }
}
