@use "../../top/vars" as *;

// Profile popout
.userPopoutOuter_d67f56 {
    position: relative;
}
.userPopoutInner_ac0960 {
    max-height: calc(100vh - $outmost-spacing);

    .banner__6d414 {
        mask-image: linear-gradient(black, black 60%, transparent);
    }

    .overlayBackground__345c9 {
        border-radius: $size-s;
    }
    .profileBadges__1f2ab {
        border-radius: $size-s;
    }
    .role_d81130 {
        border-radius: $size-s;
        border: 0;
    }
    .messageInputContainer_a93946 {
        border: 0;
    }
}

// View profile
.avatarWrapper__0cd44 {
    left: 27px;
    top: 21px;

    // View profile shadow
    .avatarHint__15059 {
        border-radius: 50px;

        foreignObject {
            mask: none;
        }
    }
}

// with Nitro theme
.userProfileOuterThemed_a425f3.userPopoutOuter_d67f56,
.userProfileOuterThemed_a425f3.userProfileOuter__35e59 {
    padding: 0;
}

.userProfileOuterThemed_a425f3 {
    overflow: hidden;

    &.theme-light {
        --channel-text-area-placeholder: rgb(#{$color-background} / 0.5);
        :is(
                .defaultColor__8610e,
                .defaultColor__77578,
                .userTagUsernameBase__2bd24,
                .discordIcon__1e1be,
                .textarea__0461c,
                .input_f27786,
                .customStatus__3aa7f,
                :is(.activityProfile__5d0ec, .activityProfileV2_f5335f, .activityUserPopout_eceeb9, .activityUserPopoutV2__89098)
                    :is(.activityName_a7b7de, .content__7246b, .details_e26997, .name__0ac4b, .nameNormal_cb5c2b, .nameWrap_b61c4b),
                .themed__857a7 .textLeft__05c15,
                .themed__857a7 .textRight__8254a
            ) {
            color: rgb($color-background);
        }
    }

    .userProfileInner__8ff35 {
        max-height: calc(100vh - 64px - $outmost-spacing);

        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: $sidebar-spacing;
        }

        .avatarPositionPremiumBanner_f3acc4 {
            left: 23px;
            top: 77px;
        }

        .buttonColor_fd4fe8 {
            background-color: rgb($color-button);
        }
    }
}
