@use "../../top/vars" as *;

// Ctrl + T Server switcher
.input__848cd {
    border-radius: $sidebar-spacing;
}

.result__25f11 {
    border-radius: $item-spacing;

    .wrapper__87791 {
        border-radius: 10px;
    }
}
