@use "../../top/vars" as *;

// Ctrl + T Server switcher
.input__2a648 {
    border-radius: $sidebar-spacing;
}

.result__25f11 {
    border-radius: $item-spacing;

    .wrapper__4dfa5 {
        border-radius: 10px;
    }
}
