@use "../../top/vars" as *;

// Server boost
.perksModal-CLcR1c {
    background-color: transparent;

    .progressBar_e00a24 {
        .barBackground-unEPDT {
            background: transparentize($color-pop, 0.5);

            .barSecondary-VouwoY {
                background: rgb($color-pop);
            }
        }

        .tierMarkerBackground-G8FoN4 {
            background: transparentize($color-pop, 0.7);
        }

        .tierMarkerInProgress-2Tdxjz {
            background: transparentize($color-pop, 0.5) !important;
        }

        .tierMarkerAccomplished-1SkbEJ {
            background: $color-pop !important;
            box-shadow: 0 0 3px 1px rgb($color-pop);
        }

        .tierMarkerLabelText-1wk8KK {
            border-radius: 20px;
            padding-left: 8px;
        }
    }

    .tierWrapper-CsnudO {
        border-radius: $sidebar-spacing;
        overflow: hidden;

        .tierHeaderLocked-3ItHYn {
            background: rgb($color-button);
            color: rgb($color-text);

            .tierLock-1uBqZ0 {
                color: inherit;
            }
        }

        .tierBody-3ju-rc {
            background-color: transparentize($color-button, 0.5);
        }
    }

    .perk-19D_HN {
        border-radius: $item-spacing;
        background-color: transparentize($color-button, 0.5);
    }
}
