@use "../../top/vars" as *;

// Server boost
.perksModal-CLcR1c {
    background-color: transparent;

    .progressBar-20NUv9 {
        .barBackground-unEPDT {
            background: transparentize($pink, 0.5);

            .barSecondary-VouwoY {
                background: $pink;
            }
        }

        .tierMarkerBackground-G8FoN4 {
            background: transparentize($pink, 0.7);
        }

        .tierMarkerInProgress-2Tdxjz {
            background: transparentize($pink, 0.5) !important;
        }

        .tierMarkerAccomplished-1SkbEJ {
            background: $pink !important;
            box-shadow: 0 0 3px 1px darken($pink, 20);
        }

        .tierMarkerLabelText-1wk8KK {
            border-radius: 20px;
            padding-left: 8px;
        }
    }

    .tierWrapper-CsnudO {
        border-radius: $sidebar-spacing;
        overflow: hidden;

        .tierHeaderLocked-3ItHYn {
            background: $blue;
            color: $white;

            .tierLock-1uBqZ0 {
                color: inherit;
            }
        }

        .tierBody-3ju-rc {
            background-color: transparentize($blue, 0.5);
        }
    }

    .perk-19D_HN {
        border-radius: $item-spacing;
        background-color: transparentize($blue, 0.5);
    }
}
