@use "../../top/vars" as *;

// Image upload
.uploadModal_eae2a0 {
    overflow: visible;

    .icon__25b13 {
        border-radius: $sidebar-spacing;
    }

    .footer_ceda43 {
        background-color: rgb($color-button);
        box-shadow: none;
    }
}
