@use "../../top/vars" as *;

// Image upload
.uploadModal-2ie9O_ {
    overflow: visible;

    .icon-HW4tZ- {
        border-radius: $sidebar-spacing;
    }

    .footer-VCsJQY {
        background-color: rgb($color-button);
        box-shadow: none;
    }
}
