@use "../../top/vars" as *;

// Full user profile
.top_fae1fa .selected_a523ff.themed-2-lozF.item__48dda,
.top_fae1fa .themed-2-lozF.item__48dda:active,
.top_fae1fa .themed-2-lozF.item__48dda:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner__6d414 {
    opacity: 70%;
}

.listRow__50619 {
    border-radius: $item-spacing;
}
