@use "../../top/vars" as *;

// Full user profile
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
    border-bottom-color: rgb($color-foreground);
}

.profileBanner-2zIsK7 {
    opacity: 70%;
}

.listRow-2nO1T6 {
    border-radius: $item-spacing;
}
