@use "../../top/vars" as *;

// Full user profile
.top__592a7 .selected__5711d.themed-2-lozF.item__48dda,
.top__592a7 .themed-2-lozF.item__48dda:active,
.top__592a7 .themed-2-lozF.item__48dda:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner__6d414 {
    opacity: 70%;
}

.listRow__60937 {
    border-radius: $item-spacing;
}
