@use "../../top/vars" as *;

// Full user profile
.top_a0 .selected_a0.themed-2-lozF.item_a0,
.top_a0 .themed-2-lozF.item_a0:active,
.top_a0 .themed-2-lozF.item_a0:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner_c3e427 {
    opacity: 70%;
}

.listRow_e4be58 {
    border-radius: $item-spacing;
}
