@use "../../top/vars" as *;

// View message reactions
.reactionDefault__792ef {
    border-radius: $item-spacing;

    &:hover {
        background-color: var(--background-modifier-hover);
    }
}

.reactionSelected__249a7 {
    border-radius: $item-spacing;
    background-color: var(--background-modifier-selected);
}

.reactors__20ab0 {
    background-color: transparent;

    .remove__6bd0e {
        background-color: var(--background-modifier-hover);
        border-radius: 50%;
        opacity: 1;
        color: rgb($color-foreground);
    }
}
