@use "../top/vars" as *;
@use "../top/button";

.appMount_fae9dd {
    $button-transparency: 0.3;
    $button-disabled-transparency: 0.8;
    $button-active-darken: 5;
    // Secondary button
    --button-secondary-background: #{transparentize($color-button, $button-transparency)};
    --button-secondary-background-hover: #{rgb($color-button)};
    --button-secondary-background-active: #{rgb($color-button)};
    --button-secondary-background-disabled: #{transparentize($color-button, $button-disabled-transparency)};
    // Positive button
    --button-positive-background: #{transparentize($color-green, $button-transparency)};
    --button-positive-background-hover: #{rgb($color-green)};
    --button-positive-background-active: #{rgb($color-green)};
    --button-positive-background-disabled: #{transparentize($color-green, $button-disabled-transparency)};
    // Danger button
    --button-danger-background: #{transparentize($color-red, $button-transparency)};
    --button-danger-background-hover: #{rgb($color-red)};
    --button-danger-background-active: #{rgb($color-red)};
    --button-danger-background-disabled: #{transparentize($color-red, $button-disabled-transparency)};
    // Outlined button
    --button-outline-primary-text: #{rgb($color-text)};
    --button-outline-primary-text-hover: #{rgb($color-text)};
    --button-outline-primary-border: #{transparentize($color-button, $button-transparency)};
    --button-outline-primary-border-hover: #{rgb($color-button)};
    --button-outline-primary-background-hover: #{rgb($color-button)};

    // Danger outlined button
    --button-outline-danger-border: #{rgb($color-red)};
    --button-outline-danger-border-hover: #{rgb($color-red)};
    --button-outline-danger-border-active: #{rgb($color-red)};
    --button-outline-danger-background-hover: #{rgb($color-red)};
    --button-outline-danger-background-active: #{rgb($color-red)};
    // Brand outlined button (default: blurple)
    --button-outline-brand-border: #{rgb($color-button)};
    --button-outline-brand-border-hover: #{rgb($color-button)};
    --button-outline-brand-border-active: #{rgb($color-button)};
    --button-outline-brand-background-hover: #{rgb($color-button)};
    --button-outline-brand-background-active: #{rgb($color-button)};

    // Buttons
    .button_afdfd9,
    .bd-button:not(.bd-addon-button),
    .topPill-3DJJNV .item-3XjbnG,
    #bd-pub-button,
    .streamerModeEnabledBtn__51c2f,
    .button__57d93 {
        border-radius: 50px;
    }

    // More buttons
    .lookFilled__19298,
    .lookOutlined-3yKVGo,
    .lookInverted-2mDUMi {
        box-shadow: 0 0 5px 0 rgb($color-background);
    }

    .lookFilled__19298.colorBrand-I6CyqQ {
        @include button.button($color-button);
    }

    .lookInverted-2mDUMi.colorBrand-I6CyqQ {
        @include button.button($color-text);
    }

    .bd-button,
    #bd-pub-button {
        @include button.button($color-button);
    }

    .bd-button.bd-button-danger {
        @include button.button($color-red);
    }

    .circleIconButton_d8df29.selected__5250e {
        @include button.button($color-green);
    }

    .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
    .wrapper_d281dd:hover .childWrapper__01b9c {
        @include button.button($color-button);
    }

    .lookLink-15mFoz.colorLink-1Md3RZ {
        --text-link: #{rgb($color-text)};
    }

    .lookLink-15mFoz.colorPrimary-2AuQVo {
        color: #{rgb($color-text)};
    }

    .buttonWhite-hd8TaT {
        border-color: transparentize($color-text, $button-transparency) !important;

        &:hover,
        &:active {
            border-color: $color-text !important;
        }
    }

    .streamerModeEnabledBtn__51c2f {
        @include button.button($color-twitch);
    }

    .button_ddf91e.tertiary_bc0225:not(.disabled__8e315) {
        @include button.button($color-button);
    }
}
