@use "../top/vars" as *;

// Inputs
.inputDefault-Ciwd-S,
// Dropdown selectors
.select-Zz0IcO,
// Keybind recorders
.container-30qY7E {
    border-radius: $size-m;
}

// Toggles
.container-1QtPKm {
    background-color: transparentize($color-toggle-off, 0.2) !important;

    path {
        fill: rgb($color-toggle-on) !important;
    }
}

.checked-16gMAN {
    background-color: transparentize($color-toggle-on, 0.3) !important;

    path {
        fill: rgb($color-toggle-on) !important;
    }
}
