@use "../top/vars" as *;

// Keybinds
.combo_c90023 .key_c90023 {
    color: rgb($color-text);
    background-color: rgb($color-pop);
    box-shadow: inset 0 -4px 0 rgb($color-pop);
    border: 1px solid rgb($color-pop);
    border-radius: 20px;
}
