@use "../top/vars" as *;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter&display=swap");

// Code block
.markup_d6076c code,
.textContainer_ad9cbd {
    background: transparentize($color-button, 0.5);
}

// Spoiler text
.spoilerMarkdownContent_a3d0f7 {
    background: transparentize($color-button, 0.5);

    &.hidden_a3d0f7 {
        @extend .spoilerMarkdownContent_a3d0f7;

        &:hover {
            background: rgb($color-button);
        }
    }
}

// Channel/user group name
.container_cc72c1 {
    text-align: center;
}
