/**
 * @name Synthesis
 * @author Saltssaumure
 * @authorLink https://github.com/Saltssaumure
 * @description A vibrant neon synthwave theme, with a selection of handmade background images, and customisable CRT monitor scanlines.
 * @version 1.1
 * @invite uy8nKQVatp
 * @source https://github.com/Saltssaumure/synthesis-discord-theme
 * @donate https://ko-fi.com/saltssaumure
*/

/*
                                                Made by:
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/
                                         Licensed under GPL-3.0!

Discord: Saltssaumure#7557
GitHub: https://github.com/Saltssaumure/synthesis-discord-theme

Join Salt's Discord Themes server! https://discord.gg/uy8nKQVatp
*/

@import url("https://saltssaumure.github.io/synthesis-discord-theme/synth.theme.css");

:root
{
    --background-image: url(https://saltssaumure.github.io/synthesis-discord-theme/backgrounds/default.png);  /* Background image. Values: any image link encased in url(). See GitHub readme for recommended images! */
    --tint-overlay: rgba(255, 165, 0, 0.1);                  /* Tint over the whole "viewport". Default: rgba(255, 165, 0, 0.1). */
    --crt-scanline-light: rgba(255, 255, 255, 0.05);        	/* CRT monitor light scanline stripe tone. Default: rgba(255, 255, 255, 0.05). */
    --crt-scanline-dark: rgba(0, 0, 0, 0.1);                	/* CRT monitor dark scanline stripe tone. Default: rgba(0, 0, 0, 0.1). */
    --crt-flicker: none;                                     /* CRT monitor overlay flickering, may be performance heavy. Values: flicker (on) or none (off). */
}