@use "../../../../top/vars" as *;

// Channel permissions
.group__6ae8b {
    border-radius: $item-spacing;
    border: 2px solid rgb($color-foreground);
    overflow: hidden;

    // Denied permission
    .deny__71546.selected__47401,
    .passthrough__7cd54.selected__47401 {
        background-color: transparentize($color-red, 0.5);
    }

    // Neutral permission
    .passthrough__7cd54.selected__47401 {
        background-color: transparentize($color-text, 0.5);
    }

    // Allowed permission
    .allow_bbc621.selected__47401 {
        background-color: transparentize($color-green, 0.5);
    }
}
