@forward "./channel";
@forward "./server";
@forward "./user";

@use "../../../top/vars" as *;
@use "../../../top/tint";
@use "../../../top/box";
@use "../../../top/slider";

// Settings
.standardSidebarView_c25c6d {
    @include box.outmost;

    // Scanline and tint overlay over whole view
    &::after {
        @include tint.scanline-overlay;
        width: 100%;
        height: 100%;
        border-radius: calc($outmost-spacing - $outmost-border-width);
        background-color: $overlay-color;
    }

    // Settings sidebar
    .sidebar_c25c6d {
        .item_a0,
        .background_ae3c77 {
            border-radius: $size-s;
        }
    }

    // Large menu items and info cards
    .item_eb92a8,
    .radioBar_eb92a8,
    .card_a298b8,
    .container_f20685 {
        border-radius: $size-m;
    }

    // Bar sliders
    .slider_c7a159 {
        .markDash_c7a159 {
            background: rgb($color-foreground);
        }

        .defaultValue_c7a159 .markValue_c7a159 {
            color: rgb($color-text);
        }

        .bar_c7a159 {
            background: transparentize($color-pop, 0.5);
            overflow: visible;

            .barFill_c7a159 {
                border-radius: $size-xs;
                @include slider.bar($color-pop);
            }
        }

        .grabber_c7a159 {
            $grabber-size: 15px;
            border: none;
            height: $grabber-size;
            width: $grabber-size;
            margin-top: calc($grabber-size / -2);
            margin-left: calc($grabber-size / -2);
            border-radius: $grabber-size;
            @include slider.bar($color-pop);
        }
    }

    // Remove item x bubble
    .default_a467ac {
        background-color: var(--status-danger);
        background-image: url(https://discord.com/assets/eb69ec9fdd30653a3ade1ab501a7cd3d.svg);
    }

    // Careful you have unsaved changes!
    .container_b6cd66 {
        background-color: transparentize($color-green, 0.5) !important;
        border-radius: $size-m;
    }
}
