@use "../../top/vars" as *;
@use "../../top/tint";

// App directory
.layerContainer_a2fcaa .directoryModal-YJsOMv {
    background: transparent;

    // Scanline and tint overlay over whole view
    &::after {
        @include tint.scanline-overlay();
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--synth-overlay-color, rgba(255, 165, 0, 0.1));
        top: 0;
        left: 0;
    }

    .category_a343a6,
    .clickable__019e3,
    .search__24107,
    .container_bdd168,
    .card__834d4,
    .commandName__7c054,
    .splashImage__1b6d7,
    .headerBanner__7b8a3 {
        border-radius: $item-spacing;
    }
}
