@use "../../top/vars" as *;
@use "../../top/tint";

// App directory
.layerContainer_d5a653 .directoryModal-YJsOMv {
    background: transparent;

    // Scanline and tint overlay over whole view
    &::after {
        @include tint.scanline-overlay();
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--synth-overlay-color, rgba(255, 165, 0, 0.1));
        top: 0;
        left: 0;
    }

    .category__2d800,
    .clickable_e2569e,
    .search__24107,
    .container__7b33c,
    .card__834d4,
    .commandName__72789,
    .splashImage_df3cce,
    .headerBanner__76f87 {
        border-radius: $item-spacing;
    }
}
