@use "channelsetting/permissions";

@use "serversetting/auditlog";
@use "serversetting/overview";
@use "serversetting/roles";
@use "serversetting/serverbooststatus";
@use "serversetting/stickers";
@use "serversetting/welcomescreen";

@use "usersetting/billing";
@use "usersetting/connections";
@use "usersetting/devices";
@use "usersetting/gameoverlay";
@use "usersetting/myaccount";
@use "usersetting/privacyandsafety";
@use "usersetting/profiles";
@use "usersetting/registeredgames";
@use "usersetting/voiceandvideo";

@use "../../top/vars" as *;
@use "../../top/tint";
@use "../../top/box";
@use "../../top/slider";

// Settings
.standardSidebarView-E9Pc3j {
    @include box.outmost;

    // Scanline and tint overlay over whole view
    &::after {
        @include tint.scanline-overlay;
        width: 100%;
        height: 100%;
        border-radius: calc($outmost-spacing - $outmost-border-width);
        background-color: $overlay-color;
    }

    // Settings sidebar
    .sidebar-nqHbhN {
        .item-2GWPIy {
            border-radius: $size-s;
        }
    }

    // Large menu items and info cards
    .item-2idW98,
    .radioBar-3w9XY-,
    .card-16VQ8C,
    .container-3jbRo5 {
        border-radius: $size-m;
    }

    // Bar sliders
    .slider-1mmyV6 {
        .markDash-1ATsxA {
            background: rgb($color-foreground);
        }

        .defaultValue-1-QxQ0 .markValue-21gAVC {
            color: rgb($color-text);
        }

        .bar-2H7Q9u {
            background: transparentize($color-pop, 0.5);
            overflow: visible;

            .barFill-3RgCsY {
                border-radius: $size-xs;
                @include slider.bar($color-pop);
            }
        }

        .grabber-3R-Rx9 {
            $grabber-size: 15px;
            border: none;
            height: $grabber-size;
            width: $grabber-size;
            margin-top: calc($grabber-size / -2);
            margin-left: calc($grabber-size / -2);
            border-radius: $grabber-size;
            @include slider.bar($color-pop);
        }
    }

    // Remove item x bubble
    .default-1Tkeeg {
        background-color: var(--status-danger);
        background-image: url(https://discord.com/assets/eb69ec9fdd30653a3ade1ab501a7cd3d.svg);
    }

    // Careful you have unsaved changes!
    .container-20TyK0 {
        background-color: transparentize($color-green, 0.5) !important;
        border-radius: $size-m;
    }
}
