@use "../top/vars" as *;

// Tooltips
.tooltipPrimary-3qLMbS {
    $tooltip-color: transparentize($pink, 0.2);
    background-color: $tooltip-color;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 darken($color: $tooltip-color, $amount: 5);

    .tooltipPointer-3L49xb {
        border-top-color: $tooltip-color;
    }

    .tooltipContent-Nejnvh {
        .activityIcon-vfIBet,
        .activityIcon-vfIBet {
            color: $white;
        }
    }
}
