@use "../../../../top/vars" as *;

// Audit Log
.auditLog_eebd33 {
    border-radius: $sidebar-spacing;
    border-color: rgb($color-button);
    overflow: hidden;

    .headerClickable_eebd33,
    .headerExpanded_eebd33 {
        background-color: transparentize($color-button, 0.7);
        color: rgb($color-text);
    }

    .changeDetails_eebd33 {
        background-color: transparentize($color-button, 0.9);
    }
}
