@use "../../../../top/vars" as *;

// Audit Log
.auditLog__6c805 {
    border-radius: $sidebar-spacing;
    border-color: rgb($color-button);
    overflow: hidden;

    .headerClickable_c4d7a9,
    .headerExpanded__03c29 {
        background-color: transparentize($color-button, 0.7);
        color: rgb($color-text);
    }

    .changeDetails_ecd760 {
        background-color: transparentize($color-button, 0.9);
    }
}
