@use "../../../../top/vars" as *;

// Overview
// Edit server image
.imageUploaderIcon_de76e4 {
    background-color: transparentize($color-foreground, $amount: 0.3);
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m0 0h18v18h-18z'/%3E%3Cpath d='m13.5 8.25v4.5c0 .8284271-.6715729 1.5-1.5 1.5h-10.5c-.82842712 0-1.5-.6715729-1.5-1.5v-10.5c0-.82842712.67157288-1.5 1.5-1.5h7.5-3v1.5h-4.5v10.5h10.5v-4.5zm-5.28-.5325 2.655 3.5325h-8.25l2.0625-2.6475 1.47 1.77zm3.78-5.4675h2.25v1.5h-2.25v2.25h-1.5v-2.25h-2.25v-1.5h2.25v-2.25h1.5z' fill='%23fff' transform='translate(2.25 1.5)'/%3E%3C/g%3E%3C/svg%3E");
}

// Server banner with no Nitro
.avatarUploaderInnerSquareDisabled_e9b3be {
    border-radius: $sidebar-spacing;
    background-color: transparentize($color-pop, 0.7);
}
