@use "../../../../top/vars" as *;

// Roles
#roles-tab {
    // Role items
    .container__9c57c,
    .roleRow_dc2631 {
        border-radius: $sidebar-spacing;
    }

    // Edit role page
    .page_c3ed26 {
        // Role list
        .sidebar__37984 {
            .titleContainer_d09261 {
                padding-bottom: 0;
            }

            .scrollerBase_f742b2 {
                padding-top: 16px;
            }
        }

        // Role details
        .contentContainer__50662 {
            .header_ee0bd9 {
                background: linear-gradient($color-background 92%, transparent);
                margin-left: -24px;
                padding-left: 24px;
            }

            // Tabs
            .top_fae1fa .brand_ce3ecf.item__48dda:active,
            .top_fae1fa .brand_ce3ecf.selected_a523ff.item__48dda,
            .top_fae1fa .brand_ce3ecf.item__48dda:hover {
                border-bottom-color: rgb($color-foreground);
            }

            // Role icon preview
            .previewContainer__8cd30 {
                background: transparentize($color-pop, 0.5);

                .preview_c4fac1 {
                    color: rgb($color-pop);
                }
            }

            // Role icon demo
            .previewContainer__30793 {
                border-radius: $sidebar-spacing;
            }

            // Member with role item
            .memberRow_d581f4 {
                border-radius: $item-spacing;
            }
        }
    }
}
