@use "../../../../top/vars" as *;

// Roles
#roles-tab {
    // Role items
    .container_d5f6d0,
    .roleRow_c357d5 {
        border-radius: $sidebar-spacing;
    }

    // Edit role page
    .page__9db5c {
        // Role list
        .sidebar_bdf6b7 {
            .titleContainer_e558ff {
                padding-bottom: 0;
            }

            .scrollerBase_dc3aa9 {
                padding-top: 16px;
            }
        }

        // Role details
        .contentContainer__23092 {
            .header__63c59 {
                background: linear-gradient($color-background 92%, transparent);
                margin-left: -24px;
                padding-left: 24px;
            }

            // Tabs
            .top__592a7 .brand_ce3ecf.item__48dda:active,
            .top__592a7 .brand_ce3ecf.selected__5711d.item__48dda,
            .top__592a7 .brand_ce3ecf.item__48dda:hover {
                border-bottom-color: rgb($color-foreground);
            }

            // Role icon preview
            .previewContainer_c7e80d {
                background: transparentize($color-pop, 0.5);

                .preview__722b9 {
                    color: rgb($color-pop);
                }
            }

            // Role icon demo
            .previewContainer_d2b616 {
                border-radius: $sidebar-spacing;
            }

            // Member with role item
            .memberRow__91c35 {
                border-radius: $item-spacing;
            }
        }
    }
}
