@use "../../../../top/vars" as *;

// Stickers
.tier_d16770 {
    border-radius: $sidebar-spacing;
    overflow: hidden;

    .tierHeaderLocked__0ca2e {
        color: rgb($color-pop);
        background-color: transparentize($color-pop, 0.7);
    }

    .tierHeaderUnlocked__960f7 {
        @extend .tierHeaderLocked__0ca2e;
        color: #{$color-text};
    }

    .tierBody_fd5f94 {
        background-color: transparentize($color-pop, 0.9);
        color: #{$color-text};
    }

    .wrapper_d9a30a {
        background-color: transparentize($color-pop, 0.9);
    }
}
