@use "../../../../top/vars" as *;

// Stickers
.tier_da77bd {
    border-radius: $sidebar-spacing;
    overflow: hidden;

    .tierHeaderLocked_da77bd {
        color: rgb($color-pop);
        background-color: transparentize($color-pop, 0.7);
    }

    .tierHeaderUnlocked_da77bd {
        @extend .tierHeaderLocked_da77bd;
        color: #{$color-text};
    }

    .tierBody_da77bd {
        background-color: transparentize($color-pop, 0.9);
        color: #{$color-text};
    }

    .wrapper_d864ab {
        background-color: transparentize($color-pop, 0.9);
    }
}
