@use "../../../../top/vars" as *;

// Stickers
.tier-3CS7-p {
    border-radius: $sidebar-spacing;
    overflow: hidden;

    .tierHeaderLocked-30MLlO {
        color: rgb($color-pop);
        background-color: transparentize($color-pop, 0.7);
    }

    .tierHeaderUnlocked-1OpOLf {
        @extend .tierHeaderLocked-30MLlO;
        color: #{$color-text};
    }

    .tierBody-1d3UiS {
        background-color: transparentize($color-pop, 0.9);
        color: #{$color-text};
    }

    .wrapper-24fR1R {
        background-color: transparentize($color-pop, 0.9);
    }
}
