@use "../../../../top/vars" as *;

// Registered Games
#game-activity-tab {
    .notDetected__2a0c9,
    .nowPlaying__353c3 {
        border-radius: calc(2 * $item-spacing);
    }

    .game__19f4b {
        box-shadow: none;

        .gameName_aeeab5 {
            color: var(--header-primary);
        }

        .gameNameInput_e25dd8:focus,
        .gameNameInput_e25dd8:hover {
            background-color: transparentize($color-background, 0.3);
            border-color: transparent;
        }

        .lastPlayed_accc56,
        .overlayStatusText__61367 {
            color: var(--header-secondary);
        }

        .overlayToggleIconOn-21NN2N .fill__80e66 {
            fill: rgb($color-foreground);
        }
    }
}
