@use "../../../../top/vars" as *;

// Registered Games
#game-activity-tab {
    .notDetected_fd966d,
    .nowPlaying_fd966d {
        border-radius: calc(2 * $item-spacing);
    }

    .game_fd966d {
        box-shadow: none;

        .gameName_fd966d {
            color: var(--header-primary);
        }

        .gameNameInput_fd966d:focus,
        .gameNameInput_fd966d:hover {
            background-color: transparentize($color-background, 0.3);
            border-color: transparent;
        }

        .lastPlayed_fd966d,
        .overlayStatusText__668e1 {
            color: var(--header-secondary);
        }

        .overlayToggleIconOn-21NN2N .fill_fd966d {
            fill: rgb($color-foreground);
        }
    }
}
