@use "../../../../top/vars" as *;

// Voice & Video
.userSettingsVoice__33015 {
    // Voice settings
    .container__6d33c {
        border-radius: 20px;
        background: $color-button !important;

        .progress__2cc1d {
            background-color: transparentize($color-background, 0.5);
        }

        .notches__065e9.gray__4fb3f {
            background-image: none;
        }
    }

    // Video background
    .backgroundOptionInner__1477f,
    .backgroundOptionRing__1f209 {
        border-radius: $item-spacing;
    }
}
