@use "../../../../top/vars" as *;

// Voice & Video
.userSettingsVoice_aa8574 {
    // Voice settings
    .container_e5cdf3 {
        border-radius: 20px;
        background: $color-button !important;

        .progress_e5cdf3 {
            background-color: transparentize($color-background, 0.5);
        }

        .notches_e5cdf3.gray_e5cdf3 {
            background-image: none;
        }
    }

    // Video background
    .backgroundOptionInner_ad7d79,
    .backgroundOptionRing_ad7d79 {
        border-radius: $item-spacing;
    }
}
