@use "../../../top/vars" as *;

// Roles
#roles-tab {
    // Role items
    .container-3EtAkD,
    .roleRow-230vCm {
        border-radius: $sidebar-spacing;
    }

    // Edit role page
    .page-15bX59 {
        // Role list
        .sidebar-3K3Z4C {
            .titleContainer-3fPic2 {
                padding-bottom: 0;
            }

            .scrollerBase-_bVAAt {
                padding-top: 16px;
            }
        }

        // Role details
        .contentContainer-3hXFtK {
            .header-JUTO-g {
                background: linear-gradient($darkpurple 92%, transparent);
                margin-left: -24px;
                padding-left: 24px;
            }

            // Tabs
            .top-K_jibn .brand-3g5E0C.item-3XjbnG:active,
            .top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG,
            .top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
                border-bottom-color: $gold;
            }

            // Role icon preview
            .previewContainer-1GxmBJ {
                background: transparentize($pink, 0.5);

                .preview-3SR4Rd {
                    color: $pink;
                }
            }

            // Role icon demo
            .previewContainer-1xQAsw {
                border-radius: $sidebar-spacing;
            }

            // Member with role item
            .memberRow-1FhJgR {
                border-radius: $item-spacing;
            }
        }
    }
}
