@use "../top/vars" as *;
@use "../top/pill";

// Channels sidebar
.sidebar_e031be {
    margin: $sidebar-spacing 0;

    // Header
    .header__77c95 {
        box-shadow: none;
    }

    .clickable__1383f .header__77c95:hover,
    .selected__987e6 .header__77c95 {
        background-color: transparent;
    }

    // New messages pill
    .unread__48cf4 {
        @include pill.unread(6px);
    }

    // Channel
    .wrapper__612a5,
    .layout_bb8e67,
    .content__3b07e,
    .link_ddbb36 {
        border-radius: $size-s;
    }

    // Self button
    .withTagAsButton_e22174,
    .withTagless__058f8 {
        border-radius: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
