@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Main chat
.chatContent-3KubbW {
    .messagesWrapper-RpOMA3 {
        margin-bottom: 4px;

        // New messages bar
        .newMessagesBar-1hF-9G {
            min-height: 30px;
            top: -8px;
            background: linear-gradient(transparent, transparentize($color-blurple, 0.4) 40%, transparentize($color-blurple, 0.2));
        }

        // Jump to present bar
        .jumpToPresentBar-1cEnH0 {
            background: linear-gradient(transparentize($color-button, 0.2), transparentize($color-button, 0.4) 60%, transparent);
        }

        // Chat message
        .messageListItem-ZZ7v6g {
            margin-left: 17px;

            // Options bar
            .wrapper-2vIMkT {
                @include box.orange-small;
                height: 34px;

                &::before {
                    height: 100%;
                    width: 100%;
                    @include tint.scanline-overlay();
                }
            }

            // @ Mention
            .wrapper-1ZcZW- {
                background: transparentize($color-blurple, 0.7);
                color: rgb($color-blurple);

                &:hover {
                    background: transparentize($color-blurple, 0.3);
                    color: rgb($color-text);
                }
            }

            // Reaction
            .reaction-3vwAF2 {
                border-radius: $item-spacing;

                &:hover {
                    border-color: rgb($color-foreground);
                }

                &.reactionMe-1PwQAc {
                    background-color: transparentize($color-foreground, 0.7);

                    &:not(:hover) {
                        border-color: transparent;
                    }

                    .reactionCount-26U4As {
                        color: rgb($color-foreground);
                    }

                    &:hover .reactionCount-26U4As {
                        color: var(--interactive-hover);
                    }
                }
            }

            @import "_embed";

            // Thread
            .container-3i3IzO {
                border-radius: $item-spacing;
                background-color: transparentize($color-foreground, 0.7);
            }
        }

        // Chat dividers
        .divider-2rZFJK {
            border-top: none;
            background-color: rgb($color-foreground);
            height: 2px;
            border-radius: 5px;
            box-shadow: 0 0 3px 1px rgb($color-foreground);
            justify-content: center;

            // New message divider pill
            .unreadPill-3nEWYM {
                border-radius: $item-spacing;
                color: rgb($color-foreground);
                padding: 2px 10px;
                right: auto;
                top: -5px;
                text-transform: capitalize;
                box-shadow: 0 0 5px 1px rgb($color-foreground);

                .unreadPillCap-2-iI4h {
                    display: none;
                }
            }

            // Date change divider
            .content-3spvdd {
                background: rgb($color-foreground);
                color: rgb($color-text);
                padding: 2px 10px;
                font-size: 10px;
                line-height: 9px;
                font-weight: 700;
                box-shadow: 0 0 5px 1px rgb($color-foreground);
            }
        }

        .group-spacing-16 .divider-IqmEqJ {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    // Chat text area
    .scrollableContainer-15eg7h {
        @include box.orange;

        &::before {
            height: calc(100% - (2 * $sidebar-border-width));
            width: calc(100% - (2 * $sidebar-border-width));
            @include tint.scanline-overlay();
            border-radius: inherit;
        }

        // Attachments
        .channelAttachmentArea-HwpkuQ {
            // Options bar
            .wrapper-2vIMkT {
                @include box.orange-small;
                height: 34px;
            }

            // Spoiler
            .spoilerContainer-3wsC0k {
                border-radius: $sidebar-spacing;

                .image-1091CL {
                    border-radius: $sidebar-spacing;
                }
            }
        }
    }

    // Chat slowmode info
    .cooldownWrapper-2k1jHK {
        color: transparentize($color-text, 0.5) !important;
    }

    // Chat autocomplete suggestions
    .autocomplete-3NRXG8 {
        @include box.orange;
        background-color: rgb($color-background);

        &::before {
            @include tint.scanline-overlay();
            height: 100%;
            width: 100%;
        }

        // Group
        .categoryHeader-OpJ1Ly {
            background-color: rgb($color-background);
        }

        // Option
        .base-2v-uc0 {
            border-radius: $item-spacing;
        }
    }

    // Sticker suggestions
    .stickerIconOffset-2zxofV {
        @include box.orange-small;
    }
}
