@use "../top/vars" as *;
@use "../top/pill";

// Channels sidebar
.sidebar_ded4b5 {
    margin: $sidebar-spacing 0;

    // Header
    .header__104ca {
        box-shadow: none;
    }

    .clickable__2d589 .header__104ca:hover,
    .selected__0b1ad .header__104ca {
        background-color: transparent;
    }

    // New messages pill
    .unread__48cf4 {
        @include pill.unread(6px);
    }

    // Channel
    .wrapper__7bcde,
    .layout_bb8e67,
    .content_b60865,
    .link__95dc0 {
        border-radius: $size-s;
    }

    // Self button
    .withTagAsButton_cc125f,
    .withTagless__98b7d {
        border-radius: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
