@use "../top/vars" as *;
@use "../top/pill";

// Channels sidebar
.sidebar_a4d4d9 {
    margin: $sidebar-spacing 0;

    // Header
    .header_fd6364 {
        box-shadow: none;
    }

    .clickable_fd6364 .header_fd6364:hover,
    .selected_fd6364 .header_fd6364 {
        background-color: transparent;
    }

    // New messages pill
    .unread_d8bfb3 {
        @include pill.unread(6px);
    }

    // Channel
    .wrapper_d8bfb3,
    .layout_e9f61e,
    .content_cdc675,
    .link_d8bfb3 {
        border-radius: $size-s;
    }

    // Self button
    .withTagAsButton_b2ca13,
    .withTagless_b2ca13 {
        border-radius: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
