@use "../top/vars" as *;
@use "../top/tint";

// Image embed
.imageWrapper_fd6587 {
    border-radius: calc(2 * $item-spacing);

    // Gif label
    .imageAccessory__64ab2 {
        $tag-spacing: 12px;
        top: $tag-spacing;
        right: $tag-spacing;

        .gifTag__9db5a {
            border-top-right-radius: calc((2 * $item-spacing) - $tag-spacing);
        }
    }
}

.embedFull__8dc21,
// Link embed
.wrapper_efe67f,
// Invite embed
.embedSpotify_d58077,
// Spotify embed
.wrapperAudio__555ce // Audio embed
{
    border-radius: calc(2 * $item-spacing);
    background-color: transparentize($color-foreground, 0.7);
}

// Link embed
.embedFull__8dc21 {
    .embedThumbnail__468e1 .imageWrapper_fd6587 {
        border-radius: $item-spacing;
    }

    &::after {
        height: 100%;
        width: calc(100% + 4px);
        left: -4px;
        border-radius: inherit;
        @include tint.scanline-overlay();
    }
}

// Audio embed
.audioControls__9fbe9 {
    border-radius: $item-spacing;
}

// Spoiler embed
.spoilerContainer_b653f1 {
    border-radius: calc(2 * $item-spacing);
}
// Attachment embed
.footer__06f4b {
    background-color: transparentize($color-button, 0.2);
}

// Gift embed
.giftCodeContainer__7fa01 {
    .tile_ebc93b {
        background-color: transparentize($color-button, 0.7);
        border-radius: calc(2 * $item-spacing);

        .invalidPoop__03aa3,
        .description__883d4 {
            background-color: transparent;
        }
    }
}

// Spotify/game invite
.invite__2a93b {
    border-radius: $sidebar-spacing;
    background-color: transparentize($color-button, 0.7);
    border: none;

    .header__8b673 {
        color: var(--header-secondary);
    }

    .partyMemberEmpty__94736,
    .moreUsers__1d9e9 {
        background: rgb($color-background);
        color: rgb($color-text);
        opacity: 0.5;
    }

    .artwork__34afd {
        border-radius: $item-spacing;
    }
}
