@use "../top/vars" as *;
@use "../top/tint";

// Image embed
.imageWrapper__178ee {
    border-radius: calc(2 * $item-spacing);

    // Gif label
    .imageAccessory__9614b {
        $tag-spacing: 12px;
        top: $tag-spacing;
        right: $tag-spacing;

        .gifTag__9db5a {
            border-top-right-radius: calc((2 * $item-spacing) - $tag-spacing);
        }
    }
}

.embedFull__14919,
// Link embed
.wrapper__8a5dd,
// Invite embed
.embedSpotify__13fe9,
// Spotify embed
.wrapperAudio__178e9 // Audio embed
{
    border-radius: calc(2 * $item-spacing);
    background-color: transparentize($color-foreground, 0.7);
}

// Link embed
.embedFull__14919 {
    .embedThumbnail__1f402 .imageWrapper__178ee {
        border-radius: $item-spacing;
    }

    &::after {
        height: 100%;
        width: calc(100% + 4px);
        left: -4px;
        border-radius: inherit;
        @include tint.scanline-overlay();
    }
}

// Audio embed
.audioControls_da7066 {
    border-radius: $item-spacing;
}

// Spoiler embed
.spoilerContainer__89762 {
    border-radius: calc(2 * $item-spacing);
}
// Attachment embed
.footer__90194 {
    background-color: transparentize($color-button, 0.2);
}

// Gift embed
.giftCodeContainer_fedf35 {
    .tile_ebc93b {
        background-color: transparentize($color-button, 0.7);
        border-radius: calc(2 * $item-spacing);

        .invalidPoop__9bdd8,
        .description__7d5ad {
            background-color: transparent;
        }
    }
}

// Spotify/game invite
.invite__2a93b {
    border-radius: $sidebar-spacing;
    background-color: transparentize($color-button, 0.7);
    border: none;

    .header__1c712 {
        color: var(--header-secondary);
    }

    .partyMemberEmpty__01e36,
    .moreUsers__4af66 {
        background: rgb($color-background);
        color: rgb($color-text);
        opacity: 0.5;
    }

    .artwork_ea47dd {
        border-radius: $item-spacing;
    }
}
