@use "../top/vars" as *;
@use "../top/box";
@use "../top/tint";

// Friends view
// DM list
.interactive-1vLZ_I {
    border-radius: $item-spacing;
}

// Active Now sidebar
.nowPlayingColumn-1eCBCN {
    position: relative;
    margin: 0 $sidebar-spacing $sidebar-spacing 0;
    height: auto;
    @include box.orange;

    .scroller-hE2gWq {
        border: none;

        .wrapper-2RrXDg {
            border-width: 2px;
            border-radius: $item-spacing;
        }

        .outer-2JOHae.active-1W_Gl9,
        .outer-2JOHae.interactive-2zD88a:hover {
            background-color: transparent;
        }

        .inset-SbsSFp {
            background-color: transparent;
        }
    }

    &::after {
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: calc($sidebar-spacing - $sidebar-border-width);
        @include tint.scanline-overlay();
    }
}

// Status indicator
.status-12NUUC {
    &[aria-label*="Online"] rect {
        fill: var(--rs-online-color);
    }

    &[aria-label*="Idle"] rect {
        fill: var(--rs-idle-color);
    }

    &[aria-label*="Do Not Disturb"] rect {
        fill: var(--rs-dnd-color);
    }

    &[aria-label*="Streaming"] rect {
        fill: var(--rs-streaming-color);
    }
}
