@use "../top/vars" as *;
@use "../top/box";
@use "../top/tint";

// Friends view
// DM list
.interactive__3e804 {
    border-radius: $item-spacing;
}

// Active Now sidebar
.nowPlayingColumn_b025fe {
    position: relative;
    margin: 0 $sidebar-spacing $sidebar-spacing 0;
    height: auto;
    @include box.orange;

    .scroller__7c25e {
        border: none;

        .wrapper__3c6d5 {
            border-width: 2px;
            border-radius: $item-spacing;
        }

        .outer_a41cf3.active__76f42,
        .outer_a41cf3.interactive__46c44:hover {
            background-color: transparent;
        }

        .inset__61d5b {
            background-color: transparent;
        }
    }

    &::after {
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: calc($sidebar-spacing - $sidebar-border-width);
        @include tint.scanline-overlay();
    }
}

// Status indicator
.status__2a4a6 {
    &[aria-label*="Online"] rect {
        fill: var(--rs-online-color);
    }

    &[aria-label*="Idle"] rect {
        fill: var(--rs-idle-color);
    }

    &[aria-label*="Do Not Disturb"] rect {
        fill: var(--rs-dnd-color);
    }

    &[aria-label*="Streaming"] rect {
        fill: var(--rs-streaming-color);
    }
}
