@forward "./banner";
@forward "./channels";
@forward "./chat";
@forward "./embed";
@forward "./friends";
@forward "./members";
@forward "./misc";
@forward "./servers";
@forward "./title";
@forward "./titlebar";

@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Base colour
.appMount_ea7e65,
body {
    background-color: $color-background;
}

// Image background
.bg_d4b6c5 {
    background: $background-image center/cover;
}

// Main view
.container_a4d4d9 {
    @include box.outmost;
    width: auto;

    // Tint over whole main view
    &::after {
        @include tint.overlay;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1002;
        background-color: $overlay-color;
    }

    // Scanline overlay over server and channel sidebars (when not in fullscreen mode)
    &:not(:has(.fullScreen_d880dc))::before {
        margin: $sidebar-spacing;
        width: $sidebar-width + $channels-width + $sidebar-border-width;
        height: calc(100% - (2 * ($sidebar-spacing + $sidebar-border-width)));
        @include box.orange;
        @include tint.scanline-overlay;
    }
}
