@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Members sidebar
.container-2o3qEW {
    position: relative;
    margin: 0 $sidebar-spacing $sidebar-spacing 0;
    height: auto;
    @include box.orange();

    // MemberCount plugin
    #MemberCount {
        border-bottom: none;
    }

    // Member
    .layout-1qmrhw {
        border-radius: $item-spacing;
    }

    &::before {
        width: 100%;
        height: 100%;
        border-radius: calc($sidebar-spacing - $sidebar-border-width);
        @include tint.scanline-overlay();
    }
}
