@use "../top/vars" as *;
@use "../top/box";
@use "../top/pill";

// Video call
.callContainer__1477d {
    background: transparent;

    .gradientContainer_cdada6 {
        background-image: none;
    }
}

// Forum
.container_b92032 {
    background-color: transparent;
}

// Various views
.appMount_c99875 {
    .container__03ec9,
    .container__6b2e5,
    .themed_b152d4,
    .emptyPage_feb902,
    .scrollerContainer_dda72c,
    .pageWrapper_c182d3 {
        background: transparent;
    }
}

// Discover servers
.categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b {
    background-color: var(--background-modifier-selected);
}

.pageWrapper_c182d3 {
    background-color: transparent;

    // Search
    .searchBox__56feb {
        border-radius: $item-spacing;
        background-color: transparent;
        box-shadow: none;
    }

    .select_fe2671 {
        border-radius: $item-spacing;
    }
}

// Server home
.background_c54132,
.headerBarInner_dc1a41:after {
    background: transparent;
}
