@use "../top/vars" as *;
@use "../top/box";
@use "../top/pill";

// Video call
.callContainer_d880dc {
    background: transparent;

    .gradientContainer_dd069c {
        background-image: none;
    }
}

// Forum
.container_a6d69a {
    background-color: transparent;
}

// Various views
.appMount_ea7e65 {
    .container_f1fd9c,
    .container_c2efea,
    .themed_e44302,
    .emptyPage_c6b11b,
    .scrollerContainer_c6b11b,
    .pageWrapper_a3a4ce {
        background: transparent;
    }
}

// Discover servers
.categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
    background-color: var(--background-modifier-selected);
}

.pageWrapper_a3a4ce {
    background-color: transparent;

    // Search
    .searchBox__56feb {
        border-radius: $item-spacing;
        background-color: transparent;
        box-shadow: none;
    }

    .select_f6639d {
        border-radius: $item-spacing;
    }
}

// Server home
.background_c54132,
.headerBarInner_dc1a41:after {
    background: transparent;
}
