@use "../top/vars" as *;
@use "../top/box";
@use "../top/pill";

// Video call
.callContainer_cbde45 {
    background: transparent;

    .gradientContainer__9a5a6 {
        background-image: none;
    }
}

// Forum
.container-3wLKDe {
    background-color: transparent;
}

// Various views
.appMount_fae9dd {
    .container__10dc7,
    .container__7590f,
    .themed_b152d4,
    .emptyPage__3e15d,
    .scrollerContainer_bf5dbd,
    .pageWrapper_fef757 {
        background: transparent;
    }
}

// Discover servers
.categoryItem_b1be5c.selectedCategoryItem__0bf4c .itemInner__9e755 {
    background-color: var(--background-modifier-selected);
}

.pageWrapper_fef757 {
    background-color: transparent;

    // Search
    .searchBox_a63854 {
        border-radius: $item-spacing;
        background-color: transparent;
        box-shadow: none;
    }

    .select-1Ia3hD {
        border-radius: $item-spacing;
    }
}

// Server home
.background_e80d5a,
.headerBarInner__9a61d:after {
    background: transparent;
}
