@use "../top/vars" as *;
@use "../top/pill";
@use "../top/box";

// Servers sidebar
.guilds__2b93a {
    margin: $sidebar-spacing;
    margin-right: 0;
    @include box.orange;

    .platform-osx & .scroller__3d071,
    .platform-win & .scroller__3d071 {
        padding: 12px 0 4px 0;
    }

    // New messages pill
    $pill-height: 6px;

    .item_f9d377 {
        @include pill.unread($pill-height);
    }

    .pill__6b31b:not(.bd-selected) .item_f9d377 {
        height: calc(2 * $pill-height) !important;

        &[style="opacity: 1; height: 40px; transform: none;"] {
            height: 40px !important;
        }
    }

    // Add and explore buttons
    .circleIconButton_d8df29 {
        color: rgb($color-green);
    }

    .circleIconButton_d8df29.selected__5250e {
        color: rgb($color-text);
    }
}
