@use "../top/vars" as *;
@use "../top/pill";
@use "../top/box";

// Servers sidebar
.guilds_a4d4d9 {
    margin: $sidebar-spacing;
    margin-right: 0;
    @include box.orange;

    .platform-osx & .scroller_fea3ef,
    .platform-win & .scroller_fea3ef {
        padding: 12px 0 4px 0;
    }

    // New messages pill
    $pill-height: 6px;

    .item_fd07a3 {
        @include pill.unread($pill-height);
    }

    .pill_a5ad63:not(.bd-selected) .item_fd07a3 {
        height: calc(2 * $pill-height) !important;

        &[style="opacity: 1; height: 40px; transform: none;"] {
            height: 40px !important;
        }
    }

    // Add and explore buttons
    .circleIconButton_db6521 {
        color: rgb($color-green);
    }

    .circleIconButton_db6521.selected_db6521 {
        color: rgb($color-text);
    }
}
