@use "../top/vars" as *;

// Top bar
.title_a7d72e {
    // Search
    .search_a46bef .DraftEditor-root .DraftEditor-editorContainer {
        height: 24px;

        .searchFilter_b0fa94,
        .searchAnswer_b0fa94 {
            padding: 0 6px;
            border: 2px solid rgb($color-foreground);
            background: var(--background-modifier-selected);
            height: 22px;
            line-height: 18px;
        }

        .searchFilter_b0fa94 {
            border-radius: 10px 0 0 10px;
        }

        .searchAnswer_b0fa94 {
            padding-left: 0;
            border-radius: 0 10px 10px 0;
        }
    }
}

// Top bar shadow
.content_a7d72e:before,
.chat_f57fdc:before {
    display: none;
}
