@use "../top/vars" as *;

// Windows title bar
.titleBar_a934d8 {
    .alignCenter_ec1a20 {
        border-radius: 0 0 $item-spacing $item-spacing;
    }

    &::before {
        content: var(--title-text, "Synthesis v1.8");
        font-family: var(--font-display);
        font-weight: 500;
        color: var(--text-muted);
        text-shadow: 0 0 5px rgb($color-foreground);
        position: absolute;
        top: -4px;
        left: 0;
        height: 18px;
        padding: 4px;
        line-height: 23px;
        font-size: 14px;
        letter-spacing: 0;
        z-index: 1;
    }
}

.wordmark_a934d8 {
    display: none;
}
