@use "../top/vars" as *;

// Top bar
.title_d4ba1a {
    // Search
    .search_ac353c .DraftEditor-root .DraftEditor-editorContainer {
        height: 24px;

        .searchFilter_dbda51,
        .searchAnswer__2ccaf {
            padding: 0 6px;
            border: 2px solid rgb($color-foreground);
            background: var(--background-modifier-selected);
            height: 22px;
            line-height: 18px;
        }

        .searchFilter_dbda51 {
            border-radius: 10px 0 0 10px;
        }

        .searchAnswer__2ccaf {
            padding-left: 0;
            border-radius: 0 10px 10px 0;
        }
    }
}

// Top bar shadow
.content__01e65:before,
.chat__1d65d:before {
    display: none;
}
