@use "../top/vars" as *;
@use "../top/box";

// Custom CSS editor
// Floating version
#floating-editor-window {
    @include box.blue;
    background: rgb($color-button);
    z-index: 1010;

    .floating-window-titlebar {
        background: inherit;
    }

    .close-button:hover {
        background: rgb($color-red);
    }
}

// All versions
#bd-editor-panel {
    $inner-radius: calc($sidebar-spacing - $sidebar-border-width);

    .contentRegion_c25c6d & {
        @include box.blue;
    }

    #bd-editor-controls {
        background: rgb($color-button);
        border-radius: $inner-radius $inner-radius 0 0;

        button {
            border-radius: $item-spacing;
        }
    }

    #bd-customcss-editor {
        border-radius: 0 0 $inner-radius $inner-radius;
        overflow: hidden;
    }
}

// BD toasts
.bd-toasts {
    align-items: flex-end;
    right: 0;
}

.bd-toast {
    margin-right: 24px;
    background-color: transparentize($color-button, $amount: 0.3);
    border-radius: 30px;
}

.bd-toast.toast-success {
    background-color: transparentize($color-blurple, $amount: 0.2);
}

// BD toggles
.bd-switch {
    .bd-switch-body {
        --switch-color: #{transparentize($color-toggle-off, 0.2)};

        .bd-switch-symbol path {
            fill: rgb($color-toggle-off);
        }
    }

    input:checked + .bd-switch-body {
        --switch-color: #{transparentize($color-toggle-on, 0.3)};

        .bd-switch-symbol path {
            fill: rgb($color-toggle-on);
        }
    }
}

// BetterDiscord settings
// Collapsible settings arrow
.bd-settings-group.collapsible .bd-settings-title::after {
    background: rgb($color-foreground);
}

// Dropdown selector
.bd-select {
    border-radius: 20px;

    .bd-select-options {
        @include box.blue-small;
    }
}

// Number input
.bd-number-input {
    border-radius: 20px;
}

.bd-addon-views .bd-view-button.selected {
    background-color: rgb($color-foreground);
}

// Plugin/Theme buttons
$bd-radius: 20px;

.bd-controls > .bd-addon-button:first-of-type {
    border-radius: $bd-radius 0 0 $bd-radius;
}

.bd-controls > .bd-addon-button:last-of-type {
    border-radius: 0 $bd-radius $bd-radius 0;
}

//BD addon errors
.bd-addon-error {
    border-radius: 50px;
    background: transparent;
    border: 2px solid var(--modal-background);
}

.bd-addon-error:hover {
    border-color: rgb($color-pop);
}
